name: Compatibility - Merge pull request

on:
  pull_request:
    branches:
      - master
    types:
      - labeled
  status: {}

jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - name: Automerge pull request with label 'compatibility-table-automerge'
        id: automergepr
        uses: "pascalgn/automerge-action@v0.8.0"
        env:
          GITHUB_TOKEN: "${{ secrets.GH_TOKEN }}"
          MERGE_LABELS: "compatibility-table-automerge"
          MERGE_REMOVE_LABELS: "compatibility-table-automerge"
          MERGE_METHOD: "merge"
          MERGE_COMMIT_MESSAGE: "pull-request-title"
          MERGE_FILTER_AUTHOR: "sblecon"
          MERGE_FORKS: "false"
          MERGE_RETRIES: "6"
          MERGE_RETRY_SLEEP: "10000"
          UPDATE_LABELS: ""
          UPDATE_METHOD: "merge"